build/
_out/
!_out/multi/
!_out/multi/ctxp/
!_out/multi/ctxp/mean/
!_out/multi/ctxp/mean/80/
!_out/multi/ctxp/mean/80/jpg/
!_out/multi/ctxp/mean/140/
!_out/multi/ctxp/mean/140/jpg/
!_out/multi/ctxp/mean/200/
!_out/multi/ctxp/mean/200/jpg/
!_out/multi/ctxp/logarithm/
!_out/multi/ctxp/logarithm/80/
!_out/multi/ctxp/logarithm/80/jpg/
!_out/multi/ctxp/logarithm/140/
!_out/multi/ctxp/logarithm/140/jpg/
!_out/multi/ctxp/logarithm/200/
!_out/multi/ctxp/logarithm/200/jpg/
!_out/multi/ctxp/max/
!_out/multi/ctxp/max/80/
!_out/multi/ctxp/max/80/jpg/
!_out/multi/ctxp/max/140/
!_out/multi/ctxp/max/140/jpg/
!_out/multi/ctxp/max/200/
!_out/multi/ctxp/max/200/jpg/
!_out/multi/ctxp/transmittance/
!_out/multi/ctxp/transmittance/80/
!_out/multi/ctxp/transmittance/80/jpg/
!_out/multi/ctxp/transmittance/140/
!_out/multi/ctxp/transmittance/140/jpg/
!_out/multi/ctxp/transmittance/200/
!_out/multi/ctxp/transmittance/200/jpg/

# 目的のファイルだけ除外（Git管理対象にする）
!_out/multi/ctxp/mean/80/jpg/001.jpg
!_out/multi/ctxp/mean/140/jpg/001.jpg
!_out/multi/ctxp/mean/200/jpg/001.jpg
!_out/multi/ctxp/logarithm/80/jpg/001.jpg
!_out/multi/ctxp/logarithm/140/jpg/001.jpg
!_out/multi/ctxp/logarithm/200/jpg/001.jpg
!_out/multi/ctxp/max/80/jpg/001.jpg
!_out/multi/ctxp/max/140/jpg/001.jpg
!_out/multi/ctxp/max/200/jpg/001.jpg
!_out/multi/ctxp/transmittance/80/jpg/001.jpg
!_out/multi/ctxp/transmittance/140/jpg/001.jpg
!_out/multi/ctxp/transmittance/200/jpg/001.jpg

## C++ build cache
/build/
CMakeFiles/

# User specific files
.env
venv/

