build/
out/
!out/multi/
!out/multi/ctxp/
!out/multi/ctxp/mean/
!out/multi/ctxp/mean/80/
!out/multi/ctxp/mean/80/jpg/
!out/multi/ctxp/mean/140/
!out/multi/ctxp/mean/140/jpg/
!out/multi/ctxp/mean/200/
!out/multi/ctxp/mean/200/jpg/
!out/multi/ctxp/logarithm/
!out/multi/ctxp/logarithm/80/
!out/multi/ctxp/logarithm/80/jpg/
!out/multi/ctxp/logarithm/140/
!out/multi/ctxp/logarithm/140/jpg/
!out/multi/ctxp/logarithm/200/
!out/multi/ctxp/logarithm/200/jpg/
!out/multi/ctxp/max/
!out/multi/ctxp/max/80/
!out/multi/ctxp/max/80/jpg/
!out/multi/ctxp/max/140/
!out/multi/ctxp/max/140/jpg/
!out/multi/ctxp/max/200/
!out/multi/ctxp/max/200/jpg/
!out/multi/ctxp/transmittance/
!out/multi/ctxp/transmittance/80/
!out/multi/ctxp/transmittance/80/jpg/
!out/multi/ctxp/transmittance/140/
!out/multi/ctxp/transmittance/140/jpg/
!out/multi/ctxp/transmittance/200/
!out/multi/ctxp/transmittance/200/jpg/

# 目的のファイルだけ除外（Git管理対象にする）
!out/multi/ctxp/mean/80/jpg/001.jpg
!out/multi/ctxp/mean/140/jpg/001.jpg
!out/multi/ctxp/mean/200/jpg/001.jpg
!out/multi/ctxp/logarithm/80/jpg/001.jpg
!out/multi/ctxp/logarithm/140/jpg/001.jpg
!out/multi/ctxp/logarithm/200/jpg/001.jpg
!out/multi/ctxp/max/80/jpg/001.jpg
!out/multi/ctxp/max/140/jpg/001.jpg
!out/multi/ctxp/max/200/jpg/001.jpg
!out/multi/ctxp/transmittance/80/jpg/001.jpg
!out/multi/ctxp/transmittance/140/jpg/001.jpg
!out/multi/ctxp/transmittance/200/jpg/001.jpg

## C++ build cache
/build/
CMakeFiles/

# User specific files
.env
venv/

