build/
_out/
# 中間ディレクトリを除外（追跡可能にする）
!_out/mult/
!_out/mult/ctxp/
!_out/mult/ctxp/mean/
!_out/mult/ctxp/mean/80/
!_out/mult/ctxp/mean/140/
!_out/mult/ctxp/mean/200/
!_out/mult/ctxp/logarithm/
!_out/mult/ctxp/logarithm/80/
!_out/mult/ctxp/logarithm/140/
!_out/mult/ctxp/logarithm/200/
!_out/mult/ctxp/max/
!_out/mult/ctxp/max/80/
!_out/mult/ctxp/max/140/
!_out/mult/ctxp/max/200/
!_out/mult/ctxp/transmittance/
!_out/mult/ctxp/transmittance/80/
!_out/mult/ctxp/transmittance/140/
!_out/mult/ctxp/transmittance/200/

# 目的のファイルだけ許可
!_out/mult/ctxp/mean/80/001.jpg
!_out/mult/ctxp/mean/140/001.jpg
!_out/mult/ctxp/mean/200/001.jpg
!_out/mult/ctxp/logarithm/80/001.jpg
!_out/mult/ctxp/logarithm/140/001.jpg
!_out/mult/ctxp/logarithm/200/001.jpg
!_out/mult/ctxp/max/80/001.jpg
!_out/mult/ctxp/max/140/001.jpg
!_out/mult/ctxp/max/200/001.jpg
!_out/mult/ctxp/transmittance/80/001.jpg
!_out/mult/ctxp/transmittance/140/001.jpg
!_out/mult/ctxp/transmittance/200/001.jpg

## C++ build cache
/build/
CMakeFiles/

# User specific files
.env
venv/

